body{
    font-family: 'Calibri Light';
    background-color: #2C2F33;
}

.avatar-large {
	background-clip: padding-box;
	position: relative;
	background-color: none;
	background-position: 50%;
	border-radius: 50%;
    width: 40px;
	height: 40px;
	background-size: 40px 40px;
    -ms-flex-negative: 0;
	flex-shrink: 0;
	margin-top: -2px;
	margin-right: 20px;
}

.hide-overflow {
	overflow: hidden
}

.message-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px 0;
	margin-left: 20px;
	margin-right: 6px;
    border:none;
}


strong {
    font-size: 0.98rem;
    font-weight: 520;
}

.message-group .timestamp {
	color: #99aab5;
	font-size: 12px;
	letter-spacing: 0;
	font-weight: 500;
	text-transform: none;
	margin-left: 6px
}

.message-group .comment {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: 20px;
	min-width: 0;
    color:rgb(228, 224, 224);
}


.username {
    font-family: 'Ubuntu', sans-serif;
	padding-bottom: 5px;
    color:white;
}
